/* Box Shadow untuk main box */
.row-main
{
    background-color: #ffffffe3;
    -webkit-box-shadow: 0px 0px 32px -2px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 0px 32px -2px rgba(0,0,0,0.22);
    box-shadow: 0px 0px 32px -2px rgba(0,0,0,0.22);
}
/* Box Shadow untuk main box */

/* Logo Atas */
.logo{
    height: 50px;
}

/* Column Main Box Sebelah Kiri */
.art{
    height: 300px;
}

.left-side h2{
    color: #436D2F;
}

.left-side p{
    color: rgb(139, 139, 139);
}

/* Column Main Box Sebelah Kanan */
.right-side .btn-success{
    background-color: #436D2F !important;
}

/* row copyright */
.row-copy p{
    color: #b3b3b3;
}

/* Background */
.bg-bot{
    position: fixed;
    width: 40%;
    left: -15%;
    bottom: -35%;
    z-index: -1;
}

.bg-top{
    position: fixed;
    width: 40%;
    right: -15%;
    top: -35%;
    z-index: -1;
}